/*
!/.gitignore
!/.gitattributes
!/.editorconfig
!/.clang-format
!/LICENSE
!/README.md
!/VERSION
!/LiteDDC.sln
!/src/
!/tests/
!/tools/
[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
progress.md
rules.md
*.local.json
Thumbs.db
Desktop.ini
